.App {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 2vh;
}

.toast{
  position: fixed;
  z-index: 5;
  margin: auto;
  top: 10vh;
  right: 0;
  left: 0;
}

.filter{
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-child{
  margin-inline: 1vh;
}